*.class

dion-service-dummy/
dion-android/api/
target/
bin/
build/
.gradle/
.settings/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.xtendbin
.*.xtendbin
._trace
.*._trace
.editorconfig

### IntelliJ IDEA ###
.idea
.iws
.iml
.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

